body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .section {
    max-width: 630px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    text-align: center;
  }
  
  .section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 1000;
  }
  
  .section p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 600;
  }
  
  .section ul {
    list-style: none;
    padding: 0;
    text-align: left;
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 300;
  }
  
  .section li {
    margin-bottom: 10px;
  }
  
  .section li a {
    display: inline-block;
    width: 110px; /* Adjust the width as desired */
    padding: 10px 20px;
    border: 2px solid #1b3d78;
    border-radius: 5px;
    text-decoration: none;
    color: #1b3d78;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Ensure the width includes padding and border */
    text-align: center; /* Center the text within the button */
    margin: 0 auto; /* Add margin to horizontally center the buttons */
    font-family: 'Noto Serif Georgian', serif;
    font-weight: 600;
  }
  
  
  
  .section li a:hover {
    background-color: #1b3d78;
    color: #fff;
  }
  
  .navbar {
    background-color: #001437;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .navbar-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 0 16px;
  }
  
  .navbar a {
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar a:hover {
    background-color: #939393;
    border-radius: 10px;
  }
  
  .navbar a.active {
    background-color: #1b3d78;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
  }
  
  .navbar a.active,
  .navbar-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
  }
  
  .navbar a:not(.active) {
    font-weight: 800;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
    }
  
    .navbar a {
      flex: 1 1 100%;
    }
  }
  
  .earth-image {
    margin-top: 10px;
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .gif-iframe {
    margin-top: 10px;
    width: 100%;
    max-height: 400px;
    object-fit: contain;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .world-image {
    width: 80%; /* Adjust the width as desired */
    height: 110%; /* Maintain the aspect ratio */
    max-height: 420px; /* Set a maximum height if needed */
  }

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1b3d78;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-to-top:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #fff;
  transform: translate(15px, 13px) rotate(-135deg);
}

.scroll-to-top:hover {
  background-color: #355d9e;
}


