body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #001437;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 0 16px;
}

.navbar a {
    color: #000;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
    background-color: #ddd;
}

.navbar a.active {
    background-color: #1b3d78;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
}

.navbar a.active,
.navbar-title {
    font-weight: bold;
    color: #fff;
}
